Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

.DS_Store
.AppleDouble
.LSOverride
._*

gradle-tmp

application.yml


.idea/
*.iws
*.iml
*.ipr
out/
!/.idea/icon.png

.vscode/
!.vscode/extensions.json
.history/
*.code-workspace

build/
bin/
.gradle/
buildOutputCleanup/
.settings/
.classpath
.project

**/src/main/resources/application.yml
**/src/main/resources/application-*.yml
!**/src/main/resources/application.example.yml

*.log
logs/

node_modules/
/npm-debug.log*
/yarn-error.log*
/pnpm-debug.log*


/dist/
/.angular/
/www/
/.sourcemaps/
/.cache/

.ionic/
/platforms/
/plugins/
/plugins/
/android/
/ios/


src/environments/environment.prod.ts
src/environments/environment.local.ts


.tmp/
.sass-cache/
connect.lock
coverage/
.nyc_output/